/* style.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.horDiv {
    display: flex;
    flex-direction: row;
}

.vertDiv {
    display: flex;
    flex-direction: column;
}

.article {
    flex-basis: 100%;
    background-color: rgb(188, 188, 188);
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.rounded-img {
    border-radius: 5px;
    height: 60px;
    width: 100px;
}

body, html, #root {
    min-height: 100%;
    background-color: #282c34;
}

.App {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

@media (max-width: 900px) {
    #main-content {
        flex-direction: column;
        align-items: center;
    }

    .left-white {
        margin: 0 0 30px 0;
        width: fit-content;
    }

    .article {
        width: 100%;
        height: auto;
    }
}

.title {
    align-content: center;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.date-text {
    font-size: 0.65em;
    margin: 10px 0;
}

.title-text {
    width: 85%;
    font-weight: bold;
}

.desc-text {
    margin-left: 10px;
    font-size: 0.8em;
    margin-top: 5px;
    color: #4b4b4b;
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big-title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.big-title-text {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.list-of-headlines {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    margin: 0 15px 15px 15px;
    width: 100%;
}

.page-button {
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.16);
    background-color: rgba(255, 255, 255, 0.16);
}

.left-white {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.31);
    min-width: 250px;
    padding: 30px;
    height: fit-content;
}

header {
    background-color: #4CAF50;
    padding: 1rem;
    flex: 100%;
}

header h1 {
    color: white;
    text-align: center;
}

.filter-box {
    background-color: #F5F5F5;
    padding: 2rem;
    width: 200px;
    margin-right: 2rem;
    border: 2px solid #445566; /* Add border */
    border-radius: 5px; /* Add border radius */
}

.filter-box h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

aside.filter-box h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

.sorting-options {
    list-style-type: none;
    padding: 0;
}

.sorting-options li {
    margin-bottom: 0.5rem;
}

.sorting-options label {
    display: block;
}

main {
    flex: 1;
    padding: 2rem;
}

#features, #testimonials {
    margin-bottom: 2rem;
}

#features h2, #testimonials h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.feature, .testimonial {
    margin-bottom: 1rem;
}

.feature h3, .testimonial p {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

footer p {
    color: white;
}

.widgets-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gray-box-widget {
    background-color: #D3D3D3; /* Gray background color */
    padding: 1rem;
    width: calc(20% - 20px); /* Adjust width to fit 5 widgets in a row */
    margin: 1rem 10px 1rem 0; /* Add margin between widgets */
    border-radius: 5px; /* Rounded corners */
}

.filter-box {
    background-color: #F5F5F5;
    padding: 2rem;
    width: calc(80% - 20px); /* Adjust width to fit 5 widgets in a row */
    margin-right: 2rem;
    border: 2px solid #445566; /* Add border */
    border-radius: 5px; /* Add border radius */
}

.search-button {
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
}

.text-input {
    padding: 2px;
}
